{
    "presets": ["@babel/preset-react"],
    "env": {
      "development": {
        "presets": [["@babel/preset-react", { "development": true }]]
      }
    },
    "plugins": [
      "@babel/plugin-transform-class-properties",
      "@babel/plugin-transform-object-rest-spread",
      "@babel/plugin-transform-for-of"
    ]
  }
  