@use './icons.scss';

body{
    .pnlm-container{
        width: 100% !important;
        max-width: 600px;
        height: 400px;
    } 
}

.pnlm-container{
    &__controls{
        margin-top: 4px;
        position: relative;

        >div{
            width: 28px;
            padding: 4px;
            background: #fff;
            box-sizing: border-box;
            margin: 0;
            margin-top: 4px;
            background-color: #fff;
            border: 1px solid #999;
            border-color: rgba(0,0,0,0.4);
            border-radius: 3px;
            cursor: pointer;
            z-index: 2;
        }

        &--menu{
            cursor: pointer;

            img{
                width: 18px;
                height: 18px;
                pointer-events: none;
            }
        }

        &--home{
            cursor: pointer;
            margin-top: 4px;

            img{
                width: 18px;
                height: 18px;
                pointer-events: none;
            }
        }
    }
}

.pnlm-container__controls--menu-items{
    position: absolute;
    left: 44px;
    top: 0;
    z-index: 2;
    display: none;
    width: 200px !important;

    &.show{
        display: block;
    }

    ul{
        margin: 0 !important;
        list-style: none;
        padding: 0 !important;

        li{
            margin: 0;
            padding: 10px;
            font-size: 16px;
            border-bottom: 1px solid #ababab;
            background-color: #fff;
            cursor: pointer;

            &:hover{
                background-color: #000;
                color: #fff;
            }

            &:last-child{
                border-bottom: 0;
            }
        }
    }
}

.pnlm-container__controls--embed{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
}

.pnlm-container__controls--embed-modal{
    background: none !important;
    border: none !important;
    position: fixed;
    left: 5px;
    bottom: 5px;
    z-index: 99 !important;
    display: none;

    &.show{
        display: block;
    }

    textarea{
        height: 100px;
        width: 250px;
        padding: 10px;
        background: #fff;
        opacity: 1;
    }
}

.pnlm-panorama-info{
    bottom: auto !important;
    top: 4px;
    left: auto !important;
    right: 4px;
}

.pnlm-container__hotspot-modal{
    width: 70%;
    max-width: 800px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 3;
    background: #fff;
    transform: translate( -50%, -50% );
    display: none;
    user-select: text;
    font-size: 16px;

    &.show{
        display: block;
    }

    .pnlm-container__hotspot-modal-heading{
        background: #000;
        position: relative;

        h2{
            padding: 10px !important;
            font-size: var( --vrpress-modal-heading-font-size, 1rem ) !important;
            color: #fff;
            margin-top:0;
            margin-bottom: 0;
        }

        button{
            position: absolute;
            right: 10px;
            top: 0;
            padding: 0;
            border: 0;
            background: transparent;
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
    
            img{
                width: 15px;
                color: #fff;
                pointer-events: none;
            }
        }
    }

    .pnlm-container__hotspot-modal-content{
        padding: 20px;
        font-size: var( --vrpress-modal-content-font-size, inherit ) !important;
        line-height: var( --vrpress-modal-content-line-height, inherit ) !important;
        max-height: 60vh;
        overflow-y: scroll;

        &-inner{
            height: 100%;
        }
    }

    video, img{
        width: 100%;
        display: block;
    }
}

.pnlm-render-container__iframe-container{
    position: relative;
    overflow: hidden;
    width: 100%;

    iframe{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.pnlm-hotspot-base{
    width: var( --vrpress-hotspot-icon-size, 40px ) !important;
    height: var( --vrpress-hotspot-icon-size, 40px ) !important;
    background-color: #0095ff !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    border-radius: 50% !important;
}

.pnlm-container.modal-opened .pnlm-hotspot, .pnlm-container.modal-opened .pnlm-pointer{
    display: none !important;
}

.vrpress-modal-image-container{
    position: relative;

    .vrpress-modal-image-container-caption{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgba(255,255,255,.6);
        padding: 15px 20px;
        box-sizing: border-box;
    }
}