@import './pannellum-extend.scss';
@import './streetview-extend.scss';
@import './tabs.scss';
@import './tour-backend-vr.scss';

#ubcvrpress_metabox_shortcode .inside{
  padding-top: 20px;
  padding-bottom: 20px;

  h2{
    padding: 0;
  }

  button{
    margin-left: 20px;
  }
}

.regular-text{
  width: 100%;
  max-width: 25em !important;
}

input[type=text], select, textarea{
  box-shadow: 0 0 0 transparent;
  border-radius: 4px;
  border: 1px solid #7e8993;
  background-color: #fff;
  color: #32373c;
  min-height: 30px;
  padding: 0 8px;
  line-height: 2;
}

input[type=text].disabled, select.disabled, textarea.disabled{
  background: #ccc;
}

.custom-image-preview{
  width: 250px;
  height: 250px;
  object-fit: cover;
}

#ubc-vrpress-single-tour-admin-metabox{

  label{
    display: block;
  }

  label + input, label + select, label + textarea{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.scene-settings{
  display: grid;
  grid-template-columns: repeat( 2, 1fr);

  &__preview{

  }

  &__general{
    >div {
      margin-bottom: 15px;
    }
  }
}

#panorama-preview{
  width: 100%;
  max-width: 625px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.post-type-ubcvrpress #poststuff #post-body.columns-2{
  margin-right: 645px;

  #postbox-container-1{
    width: 625px;
    margin-right: -645px;
  
    #side-sortables{
      width: 625px;
      margin-right: -645px;
    }
  }
}

.oembed-status{
  margin-left: 5px;

  &.valid{
    color: green;
  }

  &.invalid{
    color: red;
  }
}

@media only screen and (max-width: 1500px) {
  .post-type-ubcvrpress #poststuff #post-body.columns-2{
    margin-right: 0;

    #post-body-content{
      float: none;
    }
  
    #postbox-container-1{
      margin-right: 0;
      width: 100%;
      float: none;
    
      #side-sortables{
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

.metabox_shortcode{
  p{
    line-height: 25px;
  }

  button{
    margin-top: 10px !important;
  }
}

table.form-table{
  margin-top: 0;
}